{% extends 'registro/base.html' %}
{% load static %}

{% block title %}Sala de Chat{% endblock %}

{% block head %}
<script type='text/javascript' src="{% static 'chat/chat.js' %}" charset="utf-8"></script>
{% endblock %}

{% block content %}
  <p>
    Você está na sala de chat como <b>{{ nick }}</b>.
  </p>

  <!-- Lugar para mostrar as mensagens via AJAX -->
  <table id='idTableChat'>
    <tr>
      <th>Sem mensagens</th>
    </tr>
  </table>

  <form method="post">
    {% csrf_token %}
    <table>
      <tr valign="top">
        <td>
          <table>
            {{ form.as_table }}
          </table>
        </td>
        <td><input type='submit' value='Fala!!!'></td>
      </tr>
    </table>
  </form>
{% endblock %}
